extends layout

block content
    .row
        .col-xs-12
            h1 Songs
            form(method='POST' action='/songs')
                //- The action here might change.
                input#songSearch(type='text', placeholder='God Gave Rock n Roll to You, Pt II', name="songSearch" style="width: 100%;")
    .row
        .col-xs-12
            ul
                each song in songs
                    li
                        a(href="#") #{song.title}
                        if song.album || song.artist || song.year || song.bpm
                        ul
                            if song.album
                                li Album: #{song.album}
                            if song.artist
                                li Artist: #{song.artist}
                            if song.year
                                li Year: #{song.year}
                            if song.bpm
                                li BPM: #{song.bpm}
    if currentUser
        .row
            .col-sm-8.col-sm-offset-2
                button.btn(style="width: 100%;")
                    a(href="/songs/add" style="display: block;") Add Song
